[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "cytomapper"]
	path = cytomapper
	url = https://github.com/bodenmillergroup/cytomapper
[submodule "cytoviewer"]
	path = cytoviewer
	url = https://github.com/bodenmillergroup/cytoviewer
[submodule "imcRtools"]
	path = imcRtools
	url = https://github.com/bodenmillergroup/imcrtools
